.App {
  text-align: center;
}
.firstpart{
  
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  background-image: url("./Images/01-w2700-cinematic-color-with-true-4k-kv.jpg");
}

.title{
  color: white;
}
